{% extends 'mainapp/base.html' %}
{% load static %}


{% block container %}
 	 <div class="container">
		<header class="padding-site">
			{% include 'mainapp/inc/inc__main_menu.html' %}
		</header>
	</div>
    <div class="new_category_form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <a href="{% url 'main:topic_sites' topic.pk %}" class="btn btn-round form-control last">
            к списку сайтов топика
        </a>
    </div>
{% endblock %}
